
.container {
  display: grid;
  grid-template-areas: 
  'form  lista'
  'form  lista'
  'form  lista';
  padding: 20px;
}

.form-pagamentos {
  grid-area: form;
}

.lista-pagamentos {
  grid-area: lista;
}